/* PricesSection.css */
.prices-section {
  margin: 20px;
  text-align: center;
}

.prices-section p.text {
  max-width: 1200px;
  margin: 10px auto 20px;
  line-height: 1.6;
}

.prices-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
