.logout-button {
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #fff;
  border: none;
  color: #f9a43a;
}

.logout-icon {
  margin-right: 5px;
  height: 1em;
  width: 1em;
}
