/* AdminSidebar.css */
.admin-sidebar {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100vh;
  background-color: #f9a43a;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.un-underlined {
  text-decoration: none;
}

.link-text {
  margin: 10px;
}

.logo {
  height: 50px;
  margin-bottom: 10px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.sidebar-link {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
}

.sidebar-link:hover {
  color: #1a202c;
}

.sidebar-footer {
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.main-content {
  flex: 1;
  margin-left: 300px;
  margin-top: 20px;
}

.admin-main-content-title {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
}
